aside{
    margin: 35px;
    padding-bottom: 20px;
    background-color: rgb(206, 250, 206);
    border-radius: 15px 15px 15px 15px;
}
h4{
    padding: 10px 0 10px 0;
    background-color: lightgreen;
    border-radius: 15px 15px 0 0;
}
aside > div > ul > #check1  > li::before{
    content: '✔';
}
aside > div >  ul > #check2 > li::before{
    content: '✔';
}
aside > div >  ul > #check1{
    width: 49.5%;
    float:left;
    margin: 15px 0 15px 0;
}
aside > div >  ul > #check2{
    width: 49.5%;
    float:right;
    margin: 15px 0 15px 0;
}
aside > div > ul{
    display: flex;
}
aside > p{
    height: auto;
    padding: 0px 20px 0px 20px;
    text-align: justify;
}